main {
	background: #ccc;
	background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    z-index: 1;
	display: table;
}

.container {
    display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.bg-dark {
    background-color: rgba(52,58,64,0.98) !important;
}

@media (max-width: 576px) {
	.container {
		padding: 0 !important;
	}
	.container .card {
		width: 100%;
		border-radius: 0;
	}
}

@media (min-width: 576px) {
	.container .card {
		margin: 15px auto;
		width: 90%;
		max-width: 900px;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
}

.pi-logo {
	vertical-align: middle;
	margin-top: -8px;
	width: 40px;
}

.pi-logo-about {
	width: 80px;
	height: 80px;
}
